*
  box-sizing: border-box
  &:before, &:after
    box-sizing: border-box

html, body
  height: 100%
  margin: 0
  padding: 0
  border: 0

#filterTerms
  width: 90%


nav.termnav
  width: 30%
  float: left
  height: 100%


#content
  padding-left: 20px
  padding-right: 20px

#stats
  float: right

header
  h1
    float: left
  width: 100%
  float: left

nav.termnav ul
  overflow-y: scroll
  height: 100%
  list-style-type: none
  padding-left: 0

nav.termnav
  padding-left: 20px
  li
    margin-left: 0
    padding-left: 0
    margin-top: .4em
  a
    color: black

.active-item
  font-weight: bold
    

aside
  font-style: italic

#content
  word-wrap: break-word
  height: 100%
  float: left
  width: 70%
  height: 100%

.nav-open, .hideDesktop
  display: none

#container
  float: left
  height: 80%
  width: 100%

#topright
  position: absolute
  top: 0
  right: 0

@media only screen and (max-width: 767px)
  nav 
    transition: all 1s ease-in-out
  nav.termnav
    position: absolute
    left: -200%
  .hideDesktop
    display: block
  .nav-open
    padding-left: 20px
    position: absolute
    top: 0
    left: 0
    bottom: 10
    display: block
    background: white
    width: 90%
    height: 120%
    float: left
    border-right: 1px solid black
    ul
      padding-left: 0
      list-style-type: none
      float: left
      height: 70%
      overflow-x: hidden
      overflow-y: auto

  #container
    float:left
    height: 100%
  #content
    float: left
    width: 100%
    height: 100%
  #main
    float: left
    width: 100%
    h1
      margin-bottom: 0
      hyphens: auto
    p 
      float: left
      width: 100%
  #paging
    float: left
    width: 100%
    margin-bottom: 10px
    a
      text-align: center
      display: block
      width: 50%
      float: left
      padding-top: 10px
      padding-bottom: 10px
