<nav navigation-list class="termnav" data-ng-class="{navOpen: navOpen, navClosed: !navOpen}">
</nav>

<div id="content">
  <div id='stats'>
    <span id='progress'> {{ 'INFO' | translate }} </span>
  </div>
  <div id="main"> 
    <h1 class='hyphenate'> {{selectedTerm | localTerm}} </h1>
    <p  class='hyphenate' ng-bind-html="selectedTerm | localDefinition"> <p>
  </div>
  <div id="paging">
    <button type=button class='btn btn-default' id="previousTerm" ng-hide='selectedTermIsFirstTerm()' ng-click='prevTerm()'>{{ 'PREV' | translate}}</button>
    <button type=button 
      class='btn btn-default'
      id="nextTerm" 
      style="float: right" 
      ng-hide='selectedTermIsLastTerm()' 
      ng-click='nextTerm()'>
      {{ 'NEXT' | translate }}
    </button>
  </div>
</div>
