<content>
<div id=topright>
  <div id="pc" style="display: inline-block">
    <span id="progressCounter"> {{progressCounter.numberOfTermsRead() }}  | {{ progressCounter.numberOfTerms }} </span>
  </div>
  <span id="timer">{{timer.getFormatedTime()}}</span>
</div>
<div id=definition class='row hyphenate'> {{activeTerm.description}}</div>
<div id=choices class='row'>
  <button class="btn btn-info" ng-repeat="choice in choices" ng-click="checkAnswer(this, $event)"> {{choice.term}} </button>
</div>
</content>
