<content>
<div id=topright>
  <div id="pc" style="display: inline-block">
    <span id="progressCounter"> {{progressCounter.numberOfTermsRead() }}  | {{ progressCounter.numberOfTerms }} </span>
  </div>
  <span id="timer">{{timer.getTime() | formatedTime}}</span>
</div>
<div id=definition class='row hyphenate'> {{activeTerm | localDefinition}}</div>
<div id=choices class='row'>
  <button class="btn btn-info" ng-repeat="choice in choices" ng-click="checkAnswer(this, $event)"> {{choice | localTerm}} </button>
</div>
</content>
