<content>
<div ng-repeat="(key, scores) in highscores | orderBy: key : reverse">
  <h1>  {{ getMonthAndYear(key) }}</h1>
  <table class="table table-striped">
    <colgroup>
      <col style="width: 25%" />
      <col style="width: 25%" />
      <col style="width: 25%" />
      <col style="width: 25%" />
    <thead>
      <tr> 
        <th> Punkte </th>
        <th> Zeit (Ø)</th>
        <th> Name </th>
        <th> Datum </th>
      </tr>
    </thead>
    <tr ng-repeat="score in scores">
      <td> {{score.score}}</td>
      <td> {{score.time}} ({{calculateMean(this)}})</td>
      <td> {{score.name}}</td>
      <td> {{parseDate(score.datetime) | date:"short"}}</td>
    </tr>
  </table>
</div>

</content>
<style>
  .table-striped>tbody>tr:nth-child(1)>td:nth-child(1):after {
    content:" \f091";
    font-family: "FontAwesome";
    color: rgb(226,175,47);
  }
  .table-striped>tbody>tr:nth-child(2)>td:nth-child(1):after {
    content:" \f091";
    font-family: "FontAwesome";
    color: rgb(171,165,150);
  }
  .table-striped>tbody>tr:nth-child(3)>td:nth-child(1):after {
    content:" \f091";
    font-family: "FontAwesome";
    color: rgb(186,97,52);
  }
</style>
